#

In [2]:
from Functions import *

In [3]:
df = pd.read_csv('Data/MongoDB.csv')

In [4]:
df.head()

         Date       Open       High        Low  Close  Adj Close    Volume
0  10/19/2017  33.000000  34.000000  29.100000  32.07      32.07  11508500
1  10/20/2017  33.369999  33.369999  30.100000  30.68      30.68   2358700
2  10/23/2017  30.510000  31.330000  30.190001  30.50      30.50    749400
3  10/24/2017  30.459999  30.920000  30.438999  30.57      30.57    420700
4  10/25/2017  30.500000  31.100000  29.879999  31.00      31.00   1219400